* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
  }    
  
  .card {
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .small {
    color: #777;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  
  .form-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  
  .form-content input:focus {
    border-color: #2375a8;
    outline: none; 
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.3);
  }
  
  
  .form-content {
    margin-bottom: 1rem;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: #aaa;
  }
  
  a {
    color: #2979ff;
    font-size: 14px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    background-color: #c4d7f9;
  }
  
  button.submit {
    width: 100%;
    padding: 10px;
    background-color: #2979ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button.submit:hover {
    background-color: #1154b7;
  }
  
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: #777;
  }
  
  .divider span {
    margin: 0 0.5rem;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
  }
  
  button.social {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    color: #555;
    font-size: 16px;
    background-color: white;
    border-radius: 27px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  button.social:hover {
    background-color: #e0e0e0;
  }
  
  footer {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
  